<html>
    <head></head>
    <body>
        <form method="POST">
    <input name="name" placeholder="Full Name" required><br>
    <input type="password" name="password" placeholder="Password" required><br>
    <select name="role" required>
        <option value="">Select Role</option>
        <option value="Student">Student</option>
        <option value="Teacher">Teacher</option>
        <option value="HOD">HOD</option>
        <option value="Principal">Principal</option>
        <option value="MD">MD</option>
        <option value="Accountant">Accountant</option>
    </select><br>
    <button type="submit">Complete Registration</button>
</form>
    </body>
</html>
