


<!DOCTYPE html>
<html>
<head>
    <title>College Login</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
    <div class="header">
        <img src="static/logo.png" alt="College Logo" class="logo">
        <h1 class="college-name">Fr. C Rodrigues Institute of Technology, Vashi</h1>
    </div>

    <div class="login-container">
        <form method="POST" class="login-form">
            <label>Email:</label><br>
            <input type="email" name="email" required><br><br>

            <label>Password:</label><br>
            <input type="password" name="password" required><br><br>

            <button type="submit">Login</button>
        </form>

        <p class="register-link">🔓 Not registered?
            <a href="{{ url_for('register') }}">Click here to register</a>
        </p>
    </div>
    
</body>
</html>
